In [1]:
import pandas as pd

In [2]:
# Read the TSV file
# df = pd.read_csv('dataset/small_train.tsv', sep='\t')
df = pd.read_csv('dataset/task_informative_text_img_train.tsv', sep='\t')

In [3]:
print(df)

                 event_name            tweet_id              image_id  \
0      california_wildfires  917791291823591425  917791291823591425_0
1      california_wildfires  917791291823591425  917791291823591425_1
2      california_wildfires  917793137925459968  917793137925459968_0
3      california_wildfires  917793137925459968  917793137925459968_1
4      california_wildfires  917793137925459968  917793137925459968_2
...                     ...                 ...                   ...
13603       hurricane_maria  912341945430798336  912341945430798336_0
13604        hurricane_irma  909936612196454403  909936612196454403_0
13605      hurricane_harvey  905581858485882881  905581858485882881_0
13606        hurricane_irma  909879746598723590  909879746598723590_0
13607     mexico_earthquake  910700764808564736  910700764808564736_0

                                              tweet_text  \
0      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...
1      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...
2      RT @KAKEnews: California wildfires destroy mor...
3      RT @KAKEnews: California wildfires destroy mor...
4      RT @KAKEnews: California wildfires destroy mor...
...                                                  ...
13603  11am #Maria update: tropical storm force winds...
13604  RT @WhereTraveler: Hurricane Irma Survival Gui...
13605  Thinking of doing a #DNA test? Buy a @FamilyTr...
13606  Now blaming Hurricane Irma on Ursula the Witch...
13607  Earthquake in Mexico rocks PH Embassy, no Fili...

                                                   image            label  \
0      data_image/california_wildfires/10_10_2017/917...      informative
1      data_image/california_wildfires/10_10_2017/917...  not_informative
2      data_image/california_wildfires/10_10_2017/917...      informative
3      data_image/california_wildfires/10_10_2017/917...      informative
4      data_image/california_wildfires/10_10_2017/917...      informative
...                                                  ...              ...
13603  data_image/hurricane_maria/25_9_2017/912341945...      informative
13604  data_image/hurricane_irma/19_9_2017/9099366121...      informative
13605  data_image/hurricane_harvey/7_9_2017/905581858...  not_informative
13606  data_image/hurricane_irma/18_9_2017/9098797465...      informative
13607  data_image/mexico_earthquake/21_9_2017/9107007...      informative

        label_text      label_image label_text_image
0      informative      informative         Positive
1      informative  not_informative         Negative
2      informative      informative         Positive
3      informative      informative         Positive
4      informative      informative         Positive
...            ...              ...              ...
13603  informative      informative         Positive
13604  informative  not_informative         Negative
13605  informative  not_informative         Negative
13606  informative  not_informative         Negative
13607  informative      informative         Positive

[13608 rows x 9 columns]

In [6]:
# Select only the 'tweet_text' and 'label_text' columns
selected_columns = df[['tweet_text', 'label_text']]

# Remove duplicates
unique_data = selected_columns.drop_duplicates()

# Display the results
print(unique_data)

                                              tweet_text       label_text
0      RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...      informative
2      RT @KAKEnews: California wildfires destroy mor...      informative
5      RT @TheAtlantic: Photos of California's destru...      informative
8      Why California's #wildfires are worse in the f...      informative
11     Playing with my new friend, Chai. She's a Cali...  not_informative
...                                                  ...              ...
13603  11am #Maria update: tropical storm force winds...      informative
13604  RT @WhereTraveler: Hurricane Irma Survival Gui...      informative
13605  Thinking of doing a #DNA test? Buy a @FamilyTr...      informative
13606  Now blaming Hurricane Irma on Ursula the Witch...      informative
13607  Earthquake in Mexico rocks PH Embassy, no Fili...      informative

[11584 rows x 2 columns]

In [9]:
unique_data.groupby('label_text').count()

                 tweet_text
label_text
informative            8285
not_informative        3299

In [10]:
unique_data.to_csv('dataset/text_train_cleaned.csv', sep='\t', index=False)

In [10]:
dev_df = pd.read_csv('dataset/task_informative_text_img_dev.tsv', sep='\t')

In [11]:
dev_df[['tweet_text', 'label_text']].groupby('label_text').count()

                 tweet_text
label_text
informative            1612
not_informative         625